{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper-panel">
        <div class="page-header">
            <h1>Customers</h1>
        </div>
        <div class="tab-container">
            <div class="well">
                <span class="glyphicon glyphicon-edit"></span>
                <span class="main-tab-header">Add new Customer</span>
            </div>
            <div class="form-group">
                
                {{ form_start(form) }}
                <div class="form-group">
                    <fieldset class="form-group fieldset-wrapper">
                        <fieldset class="form-group">
                            {{ form_label(form.username) }}
                            {{ form_widget(form.username) }}
                            {{ form_errors(form.username) }}
                        </fieldset>
                        <fieldset class="form-group">
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name) }}
                            {{ form_errors(form.name) }}
                        </fieldset>
                        <fieldset class="form-group">
                            {{ form_label(form.plainPassword.first) }}
                            {{ form_widget(form.plainPassword.first) }}
                            {{ form_errors(form.plainPassword.first) }}
                        </fieldset>
                        <fieldset class="form-group">
                            {{ form_label(form.plainPassword.second) }}
                            {{ form_widget(form.plainPassword.second) }}
                            {{ form_errors(form.plainPassword.second) }}
                        </fieldset>
                        <fieldset class="form-group">
                            {{ form_label(form.storeUrl) }}
                            {{ form_widget(form.storeUrl) }}
                            {{ form_errors(form.storeUrl) }}
                        </fieldset>
                        {{ form_row(form.submit) }}
                </div>
                {{ form_end(form) }}
        </div>
        </div>
    </div>
{% endblock %}
