{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper-panel panel-products-list">
        <div class="page-header">
            <h1>Customers</h1>
        </div>
        <div class="tab-container">
            <div class="well">
                <span class="glyphicon glyphicon-edit"></span>
                <span class="main-tab-header">Customers List</span>
                <span><a href='{{ path('panel_customer_add') }}'<button type='button' class='add-new-customer btn btn-info'>Add New</button></a></span>
            </div>
            <div class="table-responsive">          
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Firstname and Surename</th>
                            <th>Email Address</th>
                            <th>Store URL</th>
                            <th>Registered at</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            

                                <tr class="test">                        
                                    <td>{{ user.getId() }}</td>
                                    <td>{{ user.getName() }}</td>
                                    <td>{{ user.getUsername() }}</td>
                                    <td>{{ user.getStoreUrl() }}</td>
                                    <td>{{ user.getRegisterDate().format('Y-m-d H:i:s') }}</td>
                                    <td>
                                        <a href="{{ path('panel_customer_edit', { 'idCustomer': user.getId() }) }}">
                                            <button type="button" class="btn btn-sm btn-success">Edit</button>
                                        </a>
                                        <a href="{{ path('panel_customer_remove', { 'idCustomer': user.getId() }) }}">
                                            <button type="button" class="btn btn-sm btn-danger">Remove</button>
                                        </a>
                                        <a href="{{ path('panel_customer_show', { 'idCustomer': user.getId() }) }}">
                                            <button type='button' class='btn btn-sm btn-info'>Show</button>
                                        </a>
                                    </td>
                                </tr>
                            </a>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
