{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper-panel">
        <div class="page-header">
            <h1>Customers</h1>
        </div>
        <div class="tab-container">
            <div class="well">
                <span class="glyphicon glyphicon-edit"></span>
                <span class="main-tab-header">{{ customer.getName() }}'s Details</span>
            </div>
            <div class="form-group">
                
                <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Details</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-lg-5 border-right">
                            <fieldset class="form-group fieldset-wrapper">
                                <fieldset class="form-group">
                                    <span class="detail-header">Name: </span>
                                </fieldset>
                                <fieldset class="form-group">
                                    <span class="detail-header">Email Address: </span>
                                </fieldset>
                                <fieldset class="form-group">
                                    <span class="detail-header">Store URL: </span>
                                </fieldset>
                                <fieldset class="form-group">
                                    <span class="detail-header">Business Sectors: </span>
                                </fieldset>
                                <fieldset class="form-group">
                                    <span class="detail-header">Number of added products: </span>
                                </fieldset>
                                <fieldset class="form-group">
                                    <span class="detail-header">Number of orders: </span>
                                </fieldset>
                                <fieldset class="form-group">
                                    <span class="detail-header">Total orders sum: </span>
                                </fieldset>
                                <fieldset class="form-group">
                                    <span class="detail-header">Total orders provision: </span>
                                </fieldset>
                                <fieldset class="form-group">
                                    <span class="detail-header">Registered at: </span>
                                </fieldset>
                            </fieldset>
                        </div>
                        <div class="col-lg-7">
                            <fieldset class="form-group fieldset-wrapper">
                            <fieldset class="form-group">
                                <span class="detail-content">{{ customer.getName() }}</span>
                            </fieldset>
                            <fieldset class="form-group">
                                <span class="detail-content">{{ customer.getEmail() }}</span>
                            </fieldset>
                            <fieldset class="form-group">
                                <span class="detail-content">{{ customer.getStoreUrl() }}</span>
                            </fieldset>
                            <fieldset class="form-group">
                                <span class="detail-content">{{ customer.getPlainBusinessSectors() }}</span>
                            </fieldset>
                            <fieldset class="form-group">
                                <span class="detail-content">{{ customer.getNumberOfProducts() }}</span>
                            </fieldset>
                            <fieldset class="form-group">
                                <span class="detail-content">{{ customer.getNumberOfOrders() }}</span>
                            </fieldset>
                            <fieldset class="form-group">
                                <span class="detail-content">£{{ customer.getOrdersSum() }}</span>
                            </fieldset>
                            <fieldset class="form-group">
                                <span class="detail-content">£{{ customer.getOrdersProvision() }}</span>
                            </fieldset>
                            <fieldset class="form-group">
                                <span class="detail-content">{{ customer.getRegisterDate().format('Y-m-d H:i:s') }}</span>
                            </fieldset>
                        </fieldset>
                                </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
