<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% block stylesheets %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/bootstrap-multiselect.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.theme.min.css') }}" />
  </head>
    <body>
        {{ include('UserBundle:User:navbar.html.twig') }}
        
        <div class="container-fluid">
            <div class="table-container">
                {% if is_granted("ROLE_USER") %}
                    <div class="col-lg-1 left-nav">
                        {{ include('UserBundle:User:left_nav.html.twig') }}   
                    </div>
                    <div class="col-lg-11 content">
                {% else %}
                    <div class="col-lg-12 content">
                {% endif %}
                
                {% for flash_message in app.session.flashbag.get('error') %}
                    <div class="alert alert-danger">
                        {{ flash_message }}
                    </div>
                {% endfor %}
                
                {% for flash_message in app.session.flashbag.get('success') %}
                    <div class="alert alert-success">
                        {{ flash_message }}
                    </div>
                {% endfor %}
                
                {% for flash_message in app.session.flashbag.get('notice') %}
                    <div class="alert alert-info">
                        {{ flash_message }}
                    </div>
                {% endfor %}
                
                {% block body %}{% endblock %}    
                
                </div>
            </div>

    </div>
                                {% block footer %}
                    <div id="footer">
                        <div class="blank"></div>
                        <div class="copyright">
                            Copyright ©2015 Austin supported by CleverCode
                        </div>
                    </div>
                {% endblock %}
            
        {% if show_popup is defined %}
            {{ include('UserBundle:User:login.html.twig') }}
        {% endif %}
        
        
        <script src="{{ asset('js/jquery.min.js') }}" ></script>
        <script src="{{ asset('js/jquery-ui.min.js') }}" ></script>
        <script src="{{ asset('js/bootstrap.min.js') }}" ></script>
        <script src="{{ asset('js/bootstrap-multiselect.js') }}" ></script>

        {% block javascripts %}
                <script>
                $(document).ready(function(){
                    $("html").click(function() {
                        $(".alert").fadeOut();
                    });
                    $('#form_tmpBusinessSectors').multiselect({
                        includeSelectAllOption: true,
                        buttonWidth: '168px'
                    });
                    if($(".date").length > 0) {
                        jQuery('#form_dateFrom').datepicker({
                            dateFormat: 'yy-mm-dd'
                        });
                        jQuery('#form_dateTo').datepicker({
                            dateFormat: 'yy-mm-dd'
                        });
                    }
                    {% if show_popup is defined %}
                        $("#myModal").modal();
                    {% endif %}
                });
            </script>
            
        {% endblock %}
        
 
    </body>
</html>
