{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
    <div class="wrapper-panel panel-products-list">
        <div class="page-header">
            <h1>Orders</h1>
        </div>
        <div class="tab-container">
            <div class="well">
                <span class="glyphicon glyphicon-edit"></span>
                <span class="main-tab-header">Orders List</span>
            </div>
            <div class="well row filter-row">
                {% if not is_granted('ROLE_ADMIN') %}
                    {{ form_start(form) }}
                    <div class="form-group col-lg-5">
                        <div class='input-group date' id='datetimepicker1'>
                                {{ form_label(form.dateFrom) }}
                                {{ form_widget(form.dateFrom) }}
                        </div>
                    </div>
                    <div class="form-group col-lg-5">
                        <div class='input-group date' id='datetimepicker1'>
                                {{ form_label(form.dateTo) }}
                                {{ form_widget(form.dateTo) }}
                        </div>
                    </div>
                        <div class="form-group col-lg-2">
                            <div class='input-group center'>
                                {{ form_widget(form.submit) }}
                            </div>
                        </div>
                    {{ form_end(form) }}
                {% else %}
                    {{ form_start(form) }}
                    <div class="form-group col-lg-4">
                        <div class='input-group' id='user'>
                                {{ form_label(form.user) }}
                                {{ form_widget(form.user) }}
                        </div>
                    </div>
                    <div class="form-group col-lg-3">
                        <div class='input-group date' id='datetimepicker1'>
                                {{ form_label(form.dateFrom) }}
                                {{ form_widget(form.dateFrom) }}
                        </div>
                    </div>
                    <div class="form-group col-lg-3">
                        <div class='input-group date' id='datetimepicker1'>
                                {{ form_label(form.dateTo) }}
                                {{ form_widget(form.dateTo) }}
                        </div>
                    </div>
                        <div class="form-group col-lg-2">
                            <div class='input-group center'>
                                {{ form_widget(form.submit) }}
                            </div>
                        </div>
                    {{ form_end(form) }}
                {% endif %}
                <div class='clear'></div>
            </div>
                
            <div class="well">
                <div class="row">
                    <div class="col-lg-6 orders-sum">
                        <h4>Total Sum</h4> <span class="colored-sum">£{{ totalSum }}</span>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="orders-provision">Total Provision</h4> <span class="colored-sum">£{{ totalProvision }}</span>
                    </div>
                </div>
            </div>
            <div class="table-responsive">          
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            {% if is_granted('ROLE_ADMIN') %}
                                <th>User</th>
                            {% endif %}
                            <th>Customer</th>     
                            <th>Store URL</th>
                            <th>Total</th>
                            <th>Date Added</th>
                            <th>Provision</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>{{ order.getId() }}</td>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <td>{{ order.getUser().getName() }}</td>
                                {% endif %}
                                <td>{{ order.getCustomer() }}</td>
                                <td>{{ order.getStoreUrl() }}</td>
                                <td>£{{ order.getSum() }}</td>
                                <td>{{ order.getDateAdded().format('Y-m-d H:i:s') }}</td>
                                <td>£{{ order.getProvision() }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
