{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid main-page">
        <div class="page-header">
            <h1>Recommendation System<br/><small>for Magento Stores</small></h1>
        </div>
        <img src="{{ asset('austin.png') }}"/>
    </div>
{% endblock %}
