{% block left_nav %}
    <nav class="left-panel">
    <div class="col-ls-12">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('panel_customer_list') }}">
                <div class="left-nav-item">
                    <span class="glyphicon glyphicon-user"></span>
                    <span class="left-nav-item-name">
                        Customers List
                    </span>
                </div>
            </a>
        {% endif %}
        <a href="{{ path('panel_orders_list') }}">
            <div class="left-nav-item">
                <span class="glyphicon glyphicon-shopping-cart"></span>
                <span class="left-nav-item-name">
                    My Orders List
                </span>
            </div>
        </a>
        <a href="{{ path('panel_product_add') }}">
            <div class="left-nav-item">
                <span class="glyphicon glyphicon-plus"></span>
                <span class="left-nav-item-name">
                    Add New Product
                </span>
            </div>
        </a>
        <a href="{{ path('panel_product_list') }}">
            <div class="left-nav-item">
                <span class="glyphicon glyphicon-th-list"></span>
                <span class="left-nav-item-name">
                    My Products List
                </span>
            </div>
        </a>
        <a href="{{ path('panel_sectors_index') }}">
            <div class="left-nav-item">
                <span class="glyphicon glyphicon-signal"></span>
                <span class="left-nav-item-name">
                    Business Sectors
                </span>
            </div>
        </a>
        <a href="{{ path('panel_discount_index') }}">
            <div class="left-nav-item">
                <span class="glyphicon glyphicon-random"></span>
                <span class="left-nav-item-name">
                    Discount Code
                </span>
            </div>
        </a>
        
    </div>
    </nav>
{% endblock %}