{% block navbar %}
                <nav class="navbar navbar-inverse bg-inverse">
                    <a class="navbar-brand" href="{{ path('homepage') }}">Austin</a>
                    <ul class="nav navbar-nav">
{#                      <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                      </li>#}
                      </ul>
                      <ul class="nav navbar-nav navbar-right">
                        {% if not is_granted("ROLE_USER") %}
                            <li class="nav-item right">
                                <a class="nav-link" href="{{ path('login') }}">Login</a>
                            </li>
                            <li class="nav-item right">
                                <a class="nav-link" href="{{ path('user_user_register') }}">Register</a>
                            </li>
                        {% else %}
                            <li class="nav-item right">
                                <a class="nav-link" href="{{ path('logout') }}">Logout</a>
                            </li>
                            
                        {% endif %}
                    
                    </ul>
                    
                </nav>
{% endblock %}