{% extends 'base.html.twig' %}

{% block body %}
    <div id="register-page" class="wrapper">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <h3 class="text-lg-center">Register a new account</h3>
                {{ form_start(form) }}
                <div class="form-group">
                    <fieldset class="form-group">
                        <fieldset class="form-group">
                            {{ form_label(form.username) }}
                            {{ form_widget(form.username) }}
                            {{ form_errors(form.username) }}
                        </fieldset>
                        <fieldset class="form-group">
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name) }}
                            {{ form_errors(form.name) }}
                        </fieldset>
                        <fieldset class="form-group">
                            {{ form_label(form.plainPassword.first) }}
                            {{ form_widget(form.plainPassword.first) }}
                            {{ form_errors(form.plainPassword.first) }}
                        </fieldset>
                        <fieldset class="form-group">
                            {{ form_label(form.plainPassword.second) }}
                            {{ form_widget(form.plainPassword.second) }}
                            {{ form_errors(form.plainPassword.second) }}
                        </fieldset>
                        <fieldset class="form-group">
                            {{ form_label(form.storeUrl) }}
                            {{ form_widget(form.storeUrl) }}
                            {{ form_errors(form.storeUrl) }}
                        </fieldset>
                        {{ form_row(form.termsAccepted) }}
                        {{ form_errors(form.termsAccepted) }}
                        {{ form_row(form.submit) }}
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
