{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper-panel business-sectors">
        <div class="page-header">
            <h1>Business Sectors</h1>
        </div>
        <div class="tab-container">
            <div class="well">
                <span class="glyphicon glyphicon-edit"></span>
                <span class="main-tab-header">Choose your business sectors</span>
            </div>
            <div class="panel panel-info">
                <div class='panel-heading'>Your Business Sectors</div>
                <div class='panel-body'>
                Business Sectors allows you to specify which industries you are interested in. Your products will appear only in shops in industries selected by you.
                </div>
            </div>
            <div class="form-group">
                
                {{ form_start(form) }}

                {{ form_end(form) }}
        </div>
        </div>
    </div>
{% endblock %}
