{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper-panel discount-codes">
        <div class="page-header">
            <h1>Discount Code</h1>
        </div>
        <div class="tab-container">
            <div class="well">
                <span class="glyphicon glyphicon-edit"></span>
                <span class="main-tab-header">Enter discount code for your customers</span>
            </div>
            <div class="panel panel-info">
                <div class='panel-heading'>Discount Code</div>
                <div class='panel-body'>
                Enter discount code allows your customers to get this discount code every time they will be redirected from Initial Shop to one of your products.
                </div>
            </div>
            <div class="form-group">
                
                {{ form_start(form) }}

                {{ form_end(form) }}
        </div>
        </div>
    </div>
{% endblock %}
