html, body, .container-fluid {
    height: 100%;
    margin: 0;
}

.container-fluid {
    width: 100%;
    padding: 0;
    display:table;
}

.table-container {
    display: table-row;
}

.wrapper { padding: 75px 0px; }
/*
        Navbar
*/
.navbar { border-radius: 0 !important;}
nav ul.nav .right { float: right; }
.navbar-right { margin-right: 10px !important; }
.navbar-inverse { margin-bottom: 0px !important; }
.navbar-brand { margin-right: 3px; background-color: #4F805D; padding-right: 12px; color: white !important; font-weight: bold;  }
.navbar-brand:hover { background-color: #4F805D !important; }
/*
        Left Nav
*/
.left-nav {
    height: 100%;
    width: 6.333333%;
    background-color: #222;
    color: #fff;
    z-index: 10;
    border: 1px solid transparent;
    border-color: rgba(1,1,1,0.4);
    position: relative;
    padding:0;
    float: none;
    display: table-cell;
}

.content {
        float: none;
    display: table-cell;
}

.left-nav-item {
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(1,1,1,0.8);
    -webkit-box-shadow: inset -2px -3px 36px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: inset -2px -3px 36px 0px rgba(0,0,0,0.7);
    box-shadow: inset -2px -3px 36px 0px rgba(0,0,0,0.7);
}

.left-nav-item:hover {
    background-color: rgba(170, 170, 170, 0.16);
}

.left-nav .glyphicon {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}

nav.left-panel {
    position: absolute;
    top: 0;
}

.left-nav a {
    text-decoration: none;
    color: white;
}


.left-nav-item-name {
    text-align: center;
    font-size: 13px;
    display: inline-block;
}

/*
        Register Page
*/
#register-page h3 { margin-bottom: 50px; text-transform: uppercase; }
#register-page #user_submit { float: right; background-color: #222; }
#register-page #user_termsAccepted { float: left; position: relative; top: 5px; margin-right: 5px; }

/*
        Login Page
*/
.modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }
  
/*
        Panel
*/

.wrapper-panel {
    padding-left: 25px;
}

.main-tab {
    color: #595959;
  border-color: #e8e8e8;
  background: #fcfcfc;
    padding: 12px 20px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.tab-container {
      padding: 12px 20px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

fieldset.fieldset-wrapper {
    margin-left: 25px;
}
  
fieldset.fieldset-wrapper .saveButton {
    float:right;
}

.panel-products-list .table>tbody>tr>td {
    line-height: 40px;
}

label[for=product_edit_image] {
    width: 100%;
}

.current-image {
    margin-bottom: 15px;
    margin-left: 3px;
    clear: both;
}

.business-sectors form .btn-group {
    width: 168px;
    margin-left: 15px;
    //float:left;
}

.business-sectors .form-group form div:first-child {
    width: 30%;
    float: left;
}

.discount-codes .form-group {
    width: 60%;
}

.discount-codes .form-group form div:first-child {
    width: 90%;
    float: left;
}

.discount-codes .form-group form div:nth-child(2) {
    float: left;
    padding-top: 25px;
}

.add-new-customer {
    float: right;
    position: relative;
    bottom: 6px;
}

.date {
    margin: 0 auto;
    text-align: left;
    width: 100%;
}

.right { float: right;   position: relative; /*top: 25px;*/}

.filter-row { margin:0; margin-bottom: 21px; }

.saveButton { top: 25px; }

.center{ margin:0 auto; }

.colored-sum {
    color: #337ab7;
    font-size: 21px;
    text-align: center;
/*    padding-left: 20%;*/
}

.well .row .col-lg-6 {
    text-align: center;
}

.orders-provision {
    background-color: rgb(226, 106, 106);
}

.detail-header, .detail-content {
    font-size: 16px;
    line-height: 30px;
}

.detail-header {
    font-weight: bold;
}


.panel-body > .form-group > div > fieldset > .form-group {
    border-bottom: 1px solid rgba(1,1,1,0.1);
}

.text-lg-center {
    text-align: center;
}

.main-page {
    text-align: center;
    margin-top: 30px;
}

#footer {
    background-color: #222;
    width: 100%;
    height: 70px;
    text-align: center;
    color: #9d9d9d;
    clear:both;
    float: left;
}

.blank {
    height: 40px;
}

.copyright {
    line-height: 20px;
    margin-bottom: 10px;
}


