{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper-panel">
        <div class="page-header">
            <h1>Products</h1>
        </div>
        <div class="tab-container">
            <div class="well">
                <span class="glyphicon glyphicon-edit"></span>
                <span class="main-tab-header">Edit Product: {{ product.getName() }}</span>
            </div>
            <div class="form-group">
                
                {{ form_start(form) }}
                <fieldset class="form-group fieldset-wrapper">
                    <fieldset class="form-group">
                        <label for="product_edit_name" class="required">Name</label>
                        <input type="text" disabled="disabled" id="product_edit_name" class="form-control" value="{{ product.getName() }}">
                    </fieldset>
                    <fieldset class="form-group">
                        {{ form_label(form.price) }}
                        {{ form_widget(form.price) }}
                        {{ form_errors(form.price) }}
                    </fieldset>
                    <fieldset class="form-group">
                        {{ form_label(form.url) }}
                        {{ form_widget(form.url) }}
                        {{ form_errors(form.url) }}
                    </fieldset>
                    <fieldset class="form-group">
                        {{ form_label(form.image) }}
                        <img class="current-image" style="max-width: 100px; max-height: 100px;" src="/{{ product.getImageUrl() }}" alt="Current Image"/>
                        {{ form_widget(form.image) }}
                        {{ form_errors(form.image) }}
                    </fieldset>
                    {{ form_row(form.submit) }}
                </fieldset>
                {{ form_end(form) }}
        </div>
        </div>
    </div>
{% endblock %}
