{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper-panel panel-products-list">
        <div class="page-header">
            <h1>Products</h1>
        </div>
        <div class="tab-container">
            <div class="well">
                <span class="glyphicon glyphicon-edit"></span>
                <span class="main-tab-header">My Products List</span>
            </div>
            <div class="table-responsive">          
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Product URL</th>
                            <th>Last Modified</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set i = 1 %}
                        {% for product in products %}
                            <tr>
                                <td>{{ i }}</td>
                                <td><img width="40px" height="40px" src="/{{ product.getImageUrl() }}"/></td>
                                <td>{{ product.getName() }}</td>
                                <td>£{{ product.getPrice() }}</td>
                                <td><a href="{{ product.getUrl() }}">Link</a></td>
                                <td>{{ product.getLastModified().format('Y-m-d H:i:s') }}</td>
                                <td>
                                    <a href="{{ path('panel_product_edit', { 'idProduct': product.getId() }) }}">
                                        <button type="button" class="btn btn-sm btn-success">Edit</button>
                                    </a>
                                    <a href="{{ path('panel_product_remove', { 'idProduct': product.getId() }) }}">
                                        <button type="button" class="btn btn-sm btn-danger">Remove</button>
                                    </a>
                                </td>
                            </tr>
                            {% set i = i + 1 %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
